<meta charset="utf-8">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Real Villa - Real Estate HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Villa Sitesi</title>

<!-- Favicon -->
<!--<link rel="shortcut icon" href="~/Content/images/favicon.ico" />-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,500,600,700%7CRoboto:300,400,500,700">

<!-- CSS Global Compulsory (Do not remove)-->
<link rel="stylesheet" href="~/Content/css/font-awesome/all.min.css" />
<link rel="stylesheet" href="~/Content/css/flaticon/flaticon.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css" />

<!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
<link rel="stylesheet" href="~/Content/css/select2/select2.css" />
<link rel="stylesheet" href="~/Content/css/range-slider/ion.rangeSlider.css" />
<link rel="stylesheet" href="~/Content/css/owl-carousel/owl.carousel.min.css" />
<link rel="stylesheet" href="~/Content/css/magnific-popup/magnific-popup.css" />

<!-- Template Style -->
<link rel="stylesheet" href="~/Content/css/style.css" />
