
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Real Villa - Real Estate HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404</title>

    <!-- Favicon -->
    <!--<link rel="shortcut icon" href="~/Content/images/favicon.ico" />-->
    
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,500,600,700%7CRoboto:300,400,500,700">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="~/Content/css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="~/Content/css/style.css" />

</head>

<body>
    <!--error -->
    <section class="space-ptb bg-holder">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="error-404">
                        <h1>404</h1>
                        <strong>
                            Hata - Villada kimse yok gibi görünüyor.
                        </strong>
                        <span><a href="/Home/Index/"> Villa Aramaya Devam Edin </a> </span>
                    </div>
                </div>
                <div class="col-md-6 text-center mt-5 mt-md-0 position-relative overflow-hidden">
                    <img class="img-fluid house-animation" src="~/Content/images/error/01.png" alt="">
                    <img class="img-fluid cloud cloud-01" src="~/Content/images/error/cloud-01.png" alt="">
                    <img class="img-fluid cloud cloud-02" src="~/Content/images/error/cloud-02.png" alt="">
                    <img class="img-fluid cloud cloud-03" src="~/Content/images/error/cloud-03.png" alt="">
                    <img class="img-fluid cloud cloud-04" src="~/Content/images/error/cloud-04.png" alt="">
                    <img class="img-fluid mt-5" src="~/Content/images/error/02.png" alt="">
                </div>
            </div>
        </div>
    </section>

   
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

</body>
</html>

