
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Areas/ManagementPanel/Content/assets/vendor/fullcalendar/lib/main.css" rel="stylesheet" />
<style>

    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }
</style>
<h2>Etkinlik Takvimi</h2>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div id='calendar' class="w-100"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/ManagementPanel/Content/assets/libs/js/main-js.js"></script>
<script src="~/Areas/ManagementPanel/Content/assets/vendor/fullcalendar/lib/main.js"></script>
<script src="~/Areas/ManagementPanel/Content/assets/vendor/fullcalendar/lib/locales-all.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,dayGridDay'
            },
            initialDate: '2021-12-21',
            locale: 'tr',
            themeSystem:'bootstrap',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events:"/Calendar/GetCalendarEvents/",           
            /*[*/
                //{
                //    title: 'All Day Event',
                //    start: '2020-09-01'
                //},
                //{
                //    title: 'Long Event',
                //    start: '2020-09-07',
                //    end: '2020-09-10'
                //},
                //{
                //    groupId: 999,
                //    title: 'Repeating Event',
                //    start: '2020-09-09T16:00:00'
                //},
                //{
                //    groupId: 999,
                //    title: 'Repeating Event',
                //    start: '2020-09-16T16:00:00'
                //},
                //{
                //    title: 'Conference',
                //    start: '2020-09-11',
                //    end: '2020-09-13'
                //},
                //{
                //    title: 'Meeting',
                //    start: '2020-09-12T10:30:00',
                //    end: '2020-09-12T12:30:00'
                //},
                //{
                //    title: 'Lunch',
                //    start: '2020-09-12T12:00:00'
                //},
                //{
                //    title: 'Meeting',
                //    start: '2020-09-12T14:30:00'
                //},
                //{
                //    title: 'Happy Hour',
                //    start: '2020-09-12T17:30:00'
                //},
                //{
                //    title: 'Dinner',
                //    start: '2020-09-12T20:00:00'
                //},
                //{
                //    title: 'Birthday Party',
                //    start: '2020-09-13T07:00:00'
                //},
                //{
                //    title: 'Click for Google',
                //    url: 'http://google.com/',
                //    start: '2020-09-28'
                //}
            /*]*/
        });

        calendar.render();
    });


</script>